<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/booklabtest.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="background">
        <div id="nav">
            <img src="{% static 'images/card/logo.jpeg' %}" alt="">

            <div id="links">
                <a href="http://127.0.0.1:8000/tasks/">Home</a>
            <a href="http://127.0.0.1:8000/visitdoctor/">Visit A Doctor</a>
            <a href="http://127.0.0.1:8000/booklabtest/"> Book a Lab Test</a>
            <a href="http://127.0.0.1:8000/buymedicine/">Buy Medicines</a>
            <a href="http://127.0.0.1:8000/customer/login/">Login</a>
            <i class="fa fa-chevron-down"></i>
            </div>
        </div>
        <div id="pallu">
            <h2>Search Doctor, Make an Appointment</h2>
            <p>Discover the best doctors, clinic & hospital the city nearest to you.</p>
            <div id="search">
            <div id="searchfield">
                <i class="fa fa-map-marker"></i>
                <input type="text" placeholder="Search Location" />
            </div>
            <div id="searchs">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search Doctor" />
            </div>


            </div>


        </div>
        <div id="para">
            <p>Based on your Location</p>
        </div>



        <!-- <div id="main">
            <img src="search-bg.png" alt="">
        </div> -->

        <div id="full">

           <p>Sorry, there is no test available.</p>
        </div>
        <div id="chikku">
            <div id="prev">
                <button class="manim" ><i class="fa fa-angle-left"></i>Prev</button>
                </div>
            <div id="next">

                <button class="manim" >Next <i class="fa fa-angle-right"></i></button>
            </div>
        </div>

        <div id="lastpart">
            <div id="right">
                <div id="top">
                    <h1>VISUDH AJIVAM PVT LTD</h1>
                </div>
                <div id="mid">
                    <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-instagram"></i>

                </div>
                <div id="bottom">
                    <p>Copyright © 2020 All rights reserved</p>
                </div>
            </div>
            <div id="left">
                <div id="head">
                    <h1>Quick Links</h1>
                </div>
                <div id="linked">
                    <div class="link">
                        <i class="fa fa-angle-double-right"></i>
                        <p>Home</p>
                    </div>
                    <div class="link">
                        <i class="fa fa-angle-double-right"></i>
                        <p>Visit a Doctor</p>
                    </div>
                    <div class="link">
                        <i class="fa fa-angle-double-right"></i>
                        <p>Book a Lab test</p>
                    </div>
                    <div class="link">
                        <i class="fa fa-angle-double-right"></i>
                        <p>Buy Medicines</p>
                    </div>
                    <div class="link">
                        <i class="fa fa-angle-double-right"></i>
                        <p>Customer Login</p>
                    </div>
                    <div class="link">
                        <i class="fa fa-angle-double-right"></i>
                        <p>Business Login</p>
                    </div>
                    <div class="link">
                        <i class="fa fa-angle-double-right"></i>
                        <p>Employee Login</p>
                    </div>
                </div>
            </div>
            <div id="middle">
                <div id="first">
                    <h1>Contact Us</h1>
                </div>
                <div id="second">
                    <i class="fa fa-map-marker"></i>
                    <p>Surya nagar road no-3 Bijulia talab road ward no -8 Ramgarh cantt Ramgarh cantt Ramgarh Jharkhand 829122</p>
                </div>
                <div id="third">
                    <i class="fa fa-phone"></i>
                    <header>+91 9304970109</header>
                </div>
                <div id="fourth">
                    <i class="fa fa-envelope"></i>
                    <h5> visudhajivam@gmail.com</h5>
                </div>

            </div>
        </div>

    </div>

</body>
</html>
