
{% extends "customer/dashboard.html" %}



{% block content %}
<div class="container">
    <form action="/card/search" method="get">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Download Card</div>
                <div class="panel-body">
                  <br>
                  <br>
                  <div class="col-md-4 ">
                      <input type="text" placeholder="Enter Username" name="q" >
                  </div>

                  <div class="col-md-4 ">
                      <input type="submit"  value="Download Card" class="btn btn-lg btn-success">
                  </div>
                  <div class="col-md-4 ">

                      <a href="/customer/dashboard"  class="btn btn-lg btn-success"> Dashboard </a>
                  </div>
                  <br>
                  <br>
                  <br>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
