<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
</head>
<body>
    <div id="background">
        <div id="nav">
            <img src="{% static 'images/card/logo.jpeg' %}" alt="">

           <div id="links">
            <a href="http://127.0.0.1:8000/tasks/">Home</a>
            <a href="http://127.0.0.1:8000/visitdoctor/">Visit A Doctor</a>
            <a href="http://127.0.0.1:8000/booklabtest/"> Book a Lab Test</a>
            <a href="http://127.0.0.1:8000/buymedicine/">Buy Medicines</a>
            <a href="http://127.0.0.1:8000/customer/login/">Customer Login</a>
                 <i class="fa fa-chevron-down"></i>
                 </div>
        </div>
        <div id="pallu">
            <h2>Search Your Service Provider</h2>
            <p>Discover the best doctors, clinic & hospital the city nearest to you.</p>
            <div id="searchfield">
                <i class="fa fa-map-marker"></i>
                <input type="text" placeholder="Search Service Provider" />
            </div>
        </div>
        <div id="main">
            <img src="search-bg.png" alt="">
        </div>
        <div id="credits">
                <h1>About Us</h1>
                <p>VISUDH AJIVAM PVT LTD is one of the best digital platform for health care services integrated with pharmacies, doctors,
                labtests, diagnosis centres across India to provide world class Healthcare facilities to individuals across the
                country.This platform is the fastest, cheapest, safestway for you and your loved ones for meeting your medical needs in
                terms of medicine, labtest and doctors availability at the right time at the best affordable price.We make sure that the
                quality of service you are getting is world class we give you this gurranty with every service you opt for online as
                well as offline.We are one stop solution for your problems.We are covering a wide range of products, test and doctors
                with speciality in different feilds to make the service wide and safest.</p>
        </div>
        <div id="body">
            <div id="left">
                <h1>Our Mission</h1>
                <p>Visudh AJIVAM PVT LTD is on a mission to take hand in hand with public and help them across their medical needs with
                making the user friendly digital platform without any Hassel at right time right place and most important at affordable
                price making the standard of one of the best world class service provider in terms of e-pharma as well as e-consultancy
                sector across the country.</p>
            </div>
            <div id="right">
                <h1>Our Vision</h1>
                <p>To revolutionise the Healthcare sector through this healthtech platform so that each and every citizen of India can get
                the best medical needs at there allowing budget.So that no one looses their lives just because of few bugs.We are making
                a family to save our public from the scarcity of services which is forced by their budget parameters.We are fastest,
                safest and cheapest one stop solution for your medical facilities.We value your lives,ur needs and ur money.We want to
                be your health guide as well as health care service provider.</p>
            </div>
        </div>

        <div id="fullpart">
            <div id="first">
                <img src="https://images.unsplash.com/photo-1587557983735-f05198060b52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            </div>
            <div id="second">
                <h1>Our Service</h1>
                <p>We provide you medicines with wide range of products, labtest with expert labs, doctor consultation with experts specialist in different speciality at best affordable price online as well as offlin</p>
                <div id="card">
                    <div id="cards"></div>
                    <div id="cardes"></div>
                </div>
            </div>
        </div>
        <div id="lastpart">
            <div id="rights">
                <div id="tops">
                    <h1>VISUDH AJIVAM PVT LTD</h1>
                </div>
                <div id="mid">
                    <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-instagram"></i>

                </div>
                <div id="bottoms">
                    <p>Copyright © 2020 All rights reserved</p>
                </div>
            </div>
            <div id="lefts">
                <div id="head">
                    <h1>Quick Links</h1>
                </div>
                <div id="linked">
                    <div class="link">
                        <i class="fa fa-angle-double-right"></i>
                        <p>Home</p>
                    </div>
                    <div class="link">
                        <i class="fa fa-angle-double-right"></i>
                        <p>Visit a Doctor</p>
                    </div>
                    <div class="link">
                        <i class="fa fa-angle-double-right"></i>
                        <p>Book a Lab test</p>
                    </div>
                    <div class="link">
                        <i class="fa fa-angle-double-right"></i>
                        <p>Buy Medicines</p>
                    </div>
                    <div class="link">
                        <i class="fa fa-angle-double-right"></i>
                        <p>Customer Login</p>
                    </div>
                    <div class="link">
                        <i class="fa fa-angle-double-right"></i>
                        <p>Business Login</p>
                    </div>
                    <div class="link">
                        <i class="fa fa-angle-double-right"></i>
                        <p>Employee Login</p>
                    </div>
                </div>
            </div>
            <div id="middle">
                <div id="firsts">
                    <h1>Contact Us</h1>
                </div>
                <div id="seconds">
                    <i class="fa fa-map-marker"></i>
                    <p>Surya nagar road no-3 Bijulia talab road ward no -8 Ramgarh cantt Ramgarh cantt Ramgarh Jharkhand 829122</p>
                </div>
                <div id="third">
                    <i class="fa fa-phone"></i>
                    <header>+91 9304970109</header>
                </div>
                <div id="fourth">
                    <i class="fa fa-envelope"></i>
                    <h5> visudhajivam@gmail.com</h5>
                </div>

            </div>
        </div>


    </div>
</body>
</html>
